.button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: var(--font-16);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.button-primary {
  background-color: var(--accent);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-disabled {
  background-color: var(--button-disabled);
  cursor: not-allowed;
}
