:root {
  --bg: #1c2530;
  --bg-light: #293849;
  --white: #f4f4f4;
  --accent: #18a2d9;
  --accent-hover: #32addd;
  --secondary: #11aa60;
  --darkShade: #1c2530;
  --lightShade: #686868;
  --button-disabled: #b9b9b9;
  --error: #dc3545;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-48: 3rem;
  --font-64: 4rem;
  --font-72: 4.5rem;
}

body {
  background-color: #2a6e88;
}
